@page
@model IndexModel
@{
    ViewData["Title"] = "MCSA-KZN 100 Climbs Scoreboard";
}

<html>
<head>
  <environment include="Development">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
  </environment>
  <title>MCSA-KZN 100 Climbs Scoreboard</title>
</head>
<body>
<p>
  <div>
    <table class="table table-striped table-sizetocontent table-bordered">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Climber</th>
        <th># Climbs</th>
      </tr>
      </thead>
      @{
        int rank = 1;

        foreach (var climber in @Model.Scoreboard.RankedClimbers)
        {
          <tr>
            <td style="text-align: center;">@rank</td>
            <td style="text-align: left;">@climber.Name</td>
            <td style="text-align: center;">@climber.RouteCount</td>
          </tr>

          rank++;
        }
      }
    </table>
  </div>
</p>

@{
  rank = 1;

  foreach (var climber in @Model.Scoreboard.RankedClimbers)
  {
    <p>
      <div>
        <table class="table table-routes">
          <thead><tr><th>#@rank : @climber.Name</th></tr></thead>
          @{
            int routeNumber = 1;

            foreach (var route in climber.Routes)
            {
              <tr>
                <td style="text-align: left;">@routeNumber : @route</td>
              </tr>

              routeNumber++;
            }
          }
        </table>
      </div>
    </p>

    rank++;
  }
}

<environment include="Development">
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</environment>
<environment exclude="Development">
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</environment>
</body>
</html>