@page
@model IndexModel
@{
    ViewData["Title"] = "MCSA-KZN 100 Climbs Scoreboard";
}

<html>
<head>
  <environment include="Development">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
  </environment>
  <title>MCSA-KZN 100 Climbs Scoreboard</title>
</head>
<body>
<div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0.7);">
  <h1 align="center" class="page-heading">MCSA-KZN 100 Climbs</h1>
  <h4 align="center">- <b>@Model.Scoreboard.RankingByClimber.Keys.Sum(c => c.RouteCount)</b> routes climbed -</h4>
</div>
<p>
  <div>
    <table class="table table-striped table-sizetocontent table-bordered" style="background-color: white;">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Climber</th>
        <th># Climbs</th>
      </tr>
      </thead>
      @{
        foreach (var entry in @Model.Scoreboard.RankingByClimber)
        {
          <tr>
            <td style="text-align: center;">@entry.Value</td>
            <td style="text-align: left;">@entry.Key.Name</td>
            <td style="text-align: center;">@entry.Key.RouteCount</td>
          </tr>
        }
      }
    </table>
  </div>
</p>

@{
  foreach (var entry in @Model.Scoreboard.RankingByClimber)
  {
    <p>
      <div>
        <table class="table table-routes" style="background-color: white;">
          <thead><tr><th>#@entry.Value : @entry.Key.Name</th></tr></thead>
          @{
            int routeNumber = 1;

            foreach (var route in entry.Key.Routes)
            {
              <tr>
                <td style="text-align: left;">@routeNumber : @route</td>
              </tr>

              routeNumber++;
            }
          }
        </table>
      </div>
    </p>
  }
}

<environment include="Development">
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="~/js/jquery.backstretch.min.js"></script>
</environment>
<environment exclude="Development">
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="~/js/jquery.backstretch.min.js"></script>
</environment>
<script language="javascript">
  $.backstretch("images/background.jpg");
</script>
</body>
</html>